* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate();
}

nav {
    width: 100%;
    height: 100;
    background-color: rgb(33, 100, 50);
    position:fixed;
}

ul {
    text-align: center;
}

/*list item*/
ul li {
    list-style: none;
    display: inline-block;
    float: none;
    line-height: 100px;
}

/*anchor*/
ul li a {
    display: block;
    text-decoration: none;
    font-size: 16;
    color: whitesmoke;
    font-weight: bold;
    padding: 0 35px;
}

ul li a:hover {
    background-color: rgb(50, 150, 90);
}

footer {
    color: whitesmoke;
    position:fixed;
    background-color: rgb(33, 100, 50);
}

.lesson {
    
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;

}
